body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.produto {
  padding: 40px;
  background-color: #fff;
  text-align: center;
}

.produto-conteudo {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.produto-item {
  width: 30%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.produto-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.produto-info {
  margin-top: 10px;
}

.produto-info h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.produto-info p {
  font-size: 1.1em;
  margin-bottom: 20px;
}

.produto-info button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
}

.produto-info button:hover {
  background-color: #555;
}

.recursos {
  background-color: #fff;
  padding: 40px;
  text-align: center;
}

.recursos h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.recursos-lista {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.recurso {
  display: flex;
  align-items: center;
  margin: 10px;
  width: 30%;
  justify-content: center;
  flex-direction: column;
}

.recurso img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.recurso p {
  font-size: 1.2em;
}

@media (max-width: 768px) {
  .produto-conteudo {
    flex-direction: column;
    align-items: center;
  }

  .produto-item {
    width: 80%;
    margin-bottom: 20px;
  }

  .recursos-lista {
    flex-direction: column;
  }

  .recurso {
    width: 100%;
  }
}
